* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-image: url("https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
    background-size: cover;
    background-repeat: no-repeat; */
}

.button {
    background-color: green;
    padding: 5px;
}

@media screen and (min-width: 0) {
    .header {
        text-align: center;
    }
    
    .container {
        width: 275px;
        margin: 50px auto;
        text-align: center;
    }

    .form-style {
        height: 224.59px;
        background-color: #ededed;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question-form {
        text-align: left;
    }

    .question-form-option {
        padding: 5px 0;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
    }

    .user-feedback {
        background-color: #ededed;
        height: 224.59px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .button {
        margin-top: 20px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        width: 450px;
    }
}


@media screen and (min-width: 1000px) {
    .container {
        width: 700px;
    }
}