* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url("https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
    color: white;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: #429b46;
    cursor: pointer;
}

.header {
    text-align: center;
    margin-top: 50px;
}

.header__title {
    font-weight: 400;
    font-size: 50px;
}

.header__subtitle {
    margin-top: 42px;
    font-size: 20px
}

.container {
    width: 275px;
    margin: 50px auto;
    text-align: center;
}

fieldset {
    border: none;
}

.form-style {
    height: 275px;
    background-color: rgba(165, 165, 175, .75);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    line-height: 20px;
}

.question-form {
    text-align: left;
}

.question-form-option {
    padding: 5px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.user-feedback {
    background-color: rgba(165, 165, 175, .75);
    height: 275px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    line-height: 20px;
}

.radio-btn {
    position: absolute;
}

.btn-label {
    position: relative;
    left: 25px;
    top: 0px;
}

.legend {
    /* line-height: 20px; */
    margin-bottom: 20px;
}

.correct-answer-msg {
    margin: 0 30px;
}

.center-landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.correct-incorrect {
    font-weight: 700;
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    .container {
        width: 450px;
    }
}


@media screen and (min-width: 1000px) {
    .container {
        width: 700px;
    }
}